get-available-event-MaVJsVVwlXe5bxp0.json
{"updatedAt":"2026-02-26T16:10:48.787Z","createdAt":"2026-02-26T11:28:51.074Z","id":"MaVJsVVwlXe5bxp0","name":"Get Available Event","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"documentId":{"__rl":true,"value":"1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo","mode":"list","cachedResultName":"EventCalendar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,352],"id":"1e6becd0-429d-4fc3-aaa6-f0fbeb89c646","name":"Event Calendar2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get all events\nconst events = $items(\"Event Calendar2\").map(item => item.json);\n\n// Get all sponsors\nconst sponsors = $items(\"Sponsor List2\").map(item => item.json);\n\n// Normalize helper\nfunction normalize(str) {\n  return (str || \"\").toString().trim();\n}\n\nconst output = [];\n\nfor (const event of events) {\n\n  const eventId = normalize(event[\"Event ID\"]);\n  let sponsorCount = 0;\n\n  for (const sponsor of sponsors) {\n\n    const participatingRaw = sponsor[\"Event Participating In\"] || \"\";\n\n    const sponsorEventIds = participatingRaw\n      .split(\",\")\n      .map(id => normalize(id))\n      .filter(id => id.length > 0);\n\n    if (sponsorEventIds.includes(eventId)) {\n      sponsorCount++;\n    }\n  }\n\n  // ✅ Only include events with less than 3 sponsors\n  if (sponsorCount < 3) {\n    output.push({\n      json: {\n        eventId: event[\"Event ID\"],\n        eventName: event[\"Event Name\"],\n        eventDate: event[\"Event Date\"],\n        sponsorCount\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,576],"id":"bad36f23-bc3f-474c-9c5a-784b0f4e6d8d","name":"Events with open slots2","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE","mode":"list","cachedResultName":"SponsorList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,352],"id":"91d63327-ff15-4360-9c5f-162cae7c07a6","name":"Sponsor List2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const events = $items(\"Events with open slots2\");\n\n// Use dynamic today date (recommended)\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst output = [];\n\nfor (const item of events) {\n  const event = item.json;\n\n  const eventDate = normalizeDate(event.eventDate);\n\n  if (eventDate > today) {\n    output.push(item);\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,576],"id":"789384af-a67c-48b7-bd5e-d01a319ceff3","name":"Available future events2","executeOnce":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Event Calendar2","type":"main","index":0}]]},"Event Calendar2":{"main":[[{"node":"Sponsor List2","type":"main","index":0}]]},"Events with open slots2":{"main":[[{"node":"Available future events2","type":"main","index":0}]]},"Sponsor List2":{"main":[[{"node":"Events with open slots2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"68f092eb-017b-493f-955e-7fa9f30393a3","activeVersionId":"68f092eb-017b-493f-955e-7fa9f30393a3","triggerCount":0,"shared":[{"updatedAt":"2026-02-26T16:10:28.341Z","createdAt":"2026-02-26T16:10:28.341Z","role":"workflow:editor","workflowId":"MaVJsVVwlXe5bxp0","projectId":"5rrPb6MUsnfUZLvz"},{"updatedAt":"2026-02-26T11:28:51.079Z","createdAt":"2026-02-26T11:28:51.079Z","role":"workflow:owner","workflowId":"MaVJsVVwlXe5bxp0","projectId":"GVYAET5lnJodl2nL"},{"updatedAt":"2026-02-26T16:10:28.341Z","createdAt":"2026-02-26T16:10:28.341Z","role":"workflow:editor","workflowId":"MaVJsVVwlXe5bxp0","projectId":"eloIIz7ceQHHimYs"}],"activeVersion":{"updatedAt":"2026-02-26T16:04:17.000Z","createdAt":"2026-02-26T16:04:14.370Z","versionId":"68f092eb-017b-493f-955e-7fa9f30393a3","workflowId":"MaVJsVVwlXe5bxp0","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"documentId":{"__rl":true,"value":"1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo","mode":"list","cachedResultName":"EventCalendar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,352],"id":"1e6becd0-429d-4fc3-aaa6-f0fbeb89c646","name":"Event Calendar2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get all events\nconst events = $items(\"Event Calendar2\").map(item => item.json);\n\n// Get all sponsors\nconst sponsors = $items(\"Sponsor List2\").map(item => item.json);\n\n// Normalize helper\nfunction normalize(str) {\n  return (str || \"\").toString().trim();\n}\n\nconst output = [];\n\nfor (const event of events) {\n\n  const eventId = normalize(event[\"Event ID\"]);\n  let sponsorCount = 0;\n\n  for (const sponsor of sponsors) {\n\n    const participatingRaw = sponsor[\"Event Participating In\"] || \"\";\n\n    const sponsorEventIds = participatingRaw\n      .split(\",\")\n      .map(id => normalize(id))\n      .filter(id => id.length > 0);\n\n    if (sponsorEventIds.includes(eventId)) {\n      sponsorCount++;\n    }\n  }\n\n  // ✅ Only include events with less than 3 sponsors\n  if (sponsorCount < 3) {\n    output.push({\n      json: {\n        eventId: event[\"Event ID\"],\n        eventName: event[\"Event Name\"],\n        eventDate: event[\"Event Date\"],\n        sponsorCount\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,576],"id":"bad36f23-bc3f-474c-9c5a-784b0f4e6d8d","name":"Events with open slots2","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE","mode":"list","cachedResultName":"SponsorList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,352],"id":"91d63327-ff15-4360-9c5f-162cae7c07a6","name":"Sponsor List2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const events = $items(\"Events with open slots2\");\n\n// Use dynamic today date (recommended)\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst output = [];\n\nfor (const item of events) {\n  const event = item.json;\n\n  const eventDate = normalizeDate(event.eventDate);\n\n  if (eventDate > today) {\n    output.push(item);\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,576],"id":"789384af-a67c-48b7-bd5e-d01a319ceff3","name":"Available future events2","executeOnce":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Event Calendar2","type":"main","index":0}]]},"Event Calendar2":{"main":[[{"node":"Sponsor List2","type":"main","index":0}]]},"Events with open slots2":{"main":[[{"node":"Available future events2","type":"main","index":0}]]},"Sponsor List2":{"main":[[{"node":"Events with open slots2","type":"main","index":0}]]}},"authors":"Rickson Zoren Pineda","name":"Version 68f092eb","description":"","autosaved":true},"tags":[]}