sponsorship-workflow-_bEBNbcIPq9WioqurD79X.json
{"updatedAt":"2026-03-02T11:58:49.460Z","createdAt":"2026-02-23T11:47:52.280Z","id":"_bEBNbcIPq9WioqurD79X","name":"Sponsorship Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-544,-64],"id":"dde77b9c-a43a-46d5-83e2-d63605f16ac1","name":"Daily Trigger"},{"parameters":{"jsCode":"const sponsors = $items(\"Get sponsors up for reminder\");\n\nconst calendarItems = $items(\"Available future events\");\nconst calendar = calendarItems.map(item => item.json);\n\nfunction normalize(str) {\n  return (str || \"\").toString().trim().toLowerCase();\n}\n\nconst output = [];\n\nfor (const sponsorItem of sponsors) {\n\n  const sponsor = sponsorItem.json;\n\n  const sponsorName = sponsor[\"Full Name\"];\n  const sponsorEmail = sponsor[\"Email Address\"];\n  const participatingRaw = sponsor[\"Event Participating In\"] || \"\";\n\n  const participatingEventIds = participatingRaw\n    .split(\",\")\n    .map(e => normalize(e))\n    .filter(e => e.length > 0);\n\n  const recommendedEvents = calendar\n    .filter(event => {\n\n      const eventId = normalize(event[\"eventId\"]);\n\n      return (\n        !participatingEventIds.includes(eventId)\n      );\n    })\n    .map(event => event[\"eventName\"]);\n\n  output.push({\n    json: {\n      sponsorName,\n      sponsorEmail,\n      recommendedEvents\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,368],"id":"d674f7b8-1716-4ca4-b58b-a357d3bbb0d2","name":"Create Recommended Events","executeOnce":true},{"parameters":{"httpMethod":"POST","path":"5cc38b9a-9942-459e-88bf-f2eedaf4eb01","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,640],"id":"644bdd07-05b9-4cd6-8b09-f4feabc3f8c1","name":"Webhook","webhookId":"5cc38b9a-9942-459e-88bf-f2eedaf4eb01"},{"parameters":{"documentId":{"__rl":true,"value":"1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE","mode":"list","cachedResultName":"SponsorList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,-64],"id":"f062b98e-c8b8-4b76-baf8-80255125f5ac","name":"Sponsor List","credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo","mode":"list","cachedResultName":"EventCalendar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,144],"id":"28851968-1f94-4234-b0ee-ce3efe23e66d","name":"Event Calendar","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"content":"### Email Reminder to Use Remaining Credit\n","height":688,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-608,-144],"typeVersion":1,"id":"0dc8c5f0-1c2d-4ab7-b847-e13d3221f82c","name":"Sticky Note"},{"parameters":{"content":"### Add Event(s) to Sponsor\n","height":656,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-608,576],"typeVersion":1,"id":"aa6e11fd-51f4-4a76-a595-2d23d17433ce","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE","mode":"list","cachedResultName":"SponsorList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email Address","lookupValue":"={{ $('Webhook').item.json.body.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-176,640],"id":"04290981-edb0-4caa-8cd2-6aef950f73bd","name":"Get Sponsor by Email","credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE","mode":"list","cachedResultName":"SponsorList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email Address":"={{ $('Webhook').item.json.body.email }}","Event Participating In":"={{ $json.NewEvents }}"},"matchingColumns":["Email Address"],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Event Participating In","displayName":"Event Participating In","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GHL Contact ID","displayName":"GHL Contact ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,1040],"id":"44995769-3e89-4229-bccb-f704a12dd49d","name":"Update Sponsor New Event(s)","credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo","mode":"list","cachedResultName":"EventCalendar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g7xsMc3T3JwWfsRfdykSp_Dwv3RfopNkOScYX7wiYYo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,640],"id":"87108523-40b5-4840-867c-43dd9c7624f1","name":"Event Calendar1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get all events\nconst events = $items(\"Event Calendar\").map(item => item.json);\n\n// Get all sponsors\nconst sponsors = $items(\"Sponsor List\").map(item => item.json);\n\n// Normalize helper\nfunction normalize(str) {\n  return (str || \"\").toString().trim();\n}\n\nconst output = [];\n\nfor (const event of events) {\n\n  const eventId = normalize(event[\"Event ID\"]);\n  let sponsorCount = 0;\n\n  for (const sponsor of sponsors) {\n\n    const participatingRaw = sponsor[\"Event Participating In\"] || \"\";\n\n    const sponsorEventIds = participatingRaw\n      .split(\",\")\n      .map(id => normalize(id))\n      .filter(id => id.length > 0);\n\n    if (sponsorEventIds.includes(eventId)) {\n      sponsorCount++;\n    }\n  }\n\n  const maxSponsorPerEvent = Number($('Event Config').first().json.sponsor_maxSponsorPerEvent)\n  \n  // Only include events with less than 3 sponsors\n  if (sponsorCount < maxSponsorPerEvent) {\n    output.push({\n      json: {\n        eventId: event[\"Event ID\"],\n        eventName: event[\"Event Name\"],\n        eventDate: event[\"Event Date\"],\n        sponsorCount\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,144],"id":"dafd10b1-bf3e-4b77-9de6-a6e1e47066d4","name":"Events with open slots","executeOnce":true},{"parameters":{"jsCode":"const events = $items(\"Event Calendar\").map(item => item.json);\n\nconst sponsors = $items(\"Sponsor List\").map(item => item.json);\n\nfunction normalize(str) {\n  return (str || \"\").toString().trim();\n}\n\nconst output = [];\n\nfor (const event of events) {\n\n  const eventId = normalize(event[\"Event ID\"]);\n  let sponsorCount = 0;\n\n  for (const sponsor of sponsors) {\n\n    const participatingRaw = sponsor[\"Event Participating In\"] || \"\";\n\n    const sponsorEventIds = participatingRaw\n      .split(\",\")\n      .map(id => normalize(id))\n      .filter(id => id.length > 0);\n\n    if (sponsorEventIds.includes(eventId)) {\n      sponsorCount++;\n    }\n  }\n\n  output.push({\n    json: {\n      eventId: event[\"Event ID\"],\n      eventName: event[\"Event Name\"],\n      eventDate: event[\"Event Date\"],\n      sponsorCount\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,144],"id":"3501acde-a1b9-48aa-b9a7-14ecb60a985a","name":"Event Slot Representation","executeOnce":true},{"parameters":{"jsCode":"// Get all events\nconst events = $items(\"Event Calendar1\").map(item => item.json);\n\n// Get all sponsors\nconst sponsors = $items(\"Sponsor List1\").map(item => item.json);\n\n// Normalize helper\nfunction normalize(str) {\n  return (str || \"\").toString().trim();\n}\n\nconst output = [];\n\nfor (const event of events) {\n\n  const eventId = normalize(event[\"Event ID\"]);\n  let sponsorCount = 0;\n\n  for (const sponsor of sponsors) {\n\n    const participatingRaw = sponsor[\"Event Participating In\"] || \"\";\n\n    const sponsorEventIds = participatingRaw\n      .split(\",\")\n      .map(id => normalize(id))\n      .filter(id => id.length > 0);\n\n    if (sponsorEventIds.includes(eventId)) {\n      sponsorCount++;\n    }\n  }\n\n    const maxSponsorPerEvent = Number($('Event Config1').first().json.sponsor_maxSponsorPerEvent)\n\n  // ✅ Only include events with less than 3 sponsors\n  if (sponsorCount < maxSponsorPerEvent) {\n    output.push({\n      json: {\n        eventId: event[\"Event ID\"],\n        eventName: event[\"Event Name\"],\n        eventDate: event[\"Event Date\"],\n        sponsorCount\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,848],"id":"12126b45-5475-41ce-80d4-24d49a3fc3c5","name":"Events with open slots1","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE","mode":"list","cachedResultName":"SponsorList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WTknHUTofsWEJfAxLQi1L0s2y-1sL0cIWQzFi2eAHUE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,640],"id":"c288872b-ca93-43a9-8ea6-8900532d9a77","name":"Sponsor List1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AIyTZL8IdP4UQWRr","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// ===============================\n// 1. LOAD DATA\n// ===============================\n\nconst events = $items(\"Event Calendar1\").map(i => i.json);\nconst sponsors = $items(\"Sponsor List1\").map(i => i.json);\n\nconst sponsorData = $('Get Sponsor by Email').first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst config = $('Event Config1').first().json;\n\n\n// ===============================\n// 2. HELPERS\n// ===============================\n\nfunction normalize(str) {\n  return (str || \"\").toString().trim().toLowerCase();\n}\n\nfunction strToArray(str) {\n  return (str || \"\")\n    .split(\",\")\n    .map(normalize)\n    .filter(Boolean);\n}\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\n\n// ===============================\n// 3. COUNT CURRENT SPONSORS PER EVENT\n// ===============================\n\nconst eventCounts = {};\n\nfor (const e of events) {\n  const eventId = normalize(e[\"Event ID\"]);\n  eventCounts[eventId] = 0;\n\n  for (const s of sponsors) {\n    const participating = strToArray(s[\"Event Participating In\"]);\n    if (participating.includes(eventId)) {\n      eventCounts[eventId]++;\n    }\n  }\n}\n\n\n// ===============================\n// 4. PREPARE REQUEST DATA\n// ===============================\n\nconst existingEventIds = strToArray(\n  sponsorData[\"Event Participating In\"]\n);\n\nconst requestedEventNames = strToArray(\n  webhookData.Event\n);\n\nconst maxSlot = Number(config.sponsor_maxSponsorPerEvent);\nconst unusedCredit = Number(sponsorData[\"Unused Credit\"]) || 0;\n\n\n// ===============================\n// 5. MAP REQUESTED EVENTS\n// ===============================\n\nconst mappedEvents = requestedEventNames\n  .map(name => {\n    const match = events.find(ev =>\n      normalize(ev[\"Event Name\"]) === normalize(name)\n    );\n\n    if (!match) return null;\n\n    const eventId = normalize(match[\"Event ID\"]);\n\n    return {\n      eventId,\n      eventName: match[\"Event Name\"],\n      eventDate: match[\"Event Date\"],\n      sponsorCount: eventCounts[eventId] || 0\n    };\n  })\n  .filter(Boolean);\n\n\n// ===============================\n// 6. RECONCILIATION LOGIC\n// ===============================\n\nconst acceptedEvents = [];\nconst rejectedEvents = [];\n\nfor (const e of mappedEvents) {\n\n  const eventDate = normalizeDate(e.eventDate);\n\n  // Priority 1: Past event\n  if (eventDate < today) {\n    rejectedEvents.push({ ...e, reason: \"Event date has already passed\" });\n    continue;\n  }\n\n  // Priority 2: Already registered\n  if (existingEventIds.includes(e.eventId)) {\n    rejectedEvents.push({ ...e, reason: \"Already registered for this event\" });\n    continue;\n  }\n\n  // Priority 3: Event full\n  if (e.sponsorCount >= maxSlot) {\n    rejectedEvents.push({ ...e, reason: \"Event is already full\" });\n    continue;\n  }\n\n  acceptedEvents.push(e);\n}\n\n\n// ===============================\n// 7. CREDIT VALIDATION\n// ===============================\n\nif (acceptedEvents.length > unusedCredit) {\n\n  const allowed = acceptedEvents.slice(0, unusedCredit);\n  const excess = acceptedEvents.slice(unusedCredit);\n\n  for (const e of excess) {\n    rejectedEvents.push({\n      ...e,\n      reason: \"Insufficient sponsorship credits\"\n    });\n  }\n\n  acceptedEvents.length = 0;\n  acceptedEvents.push(...allowed);\n}\n\n\n// ===============================\n// 8. CREDIT CALCULATION\n// ===============================\n\nconst remainingCredit = Math.max(\n  0,\n  unusedCredit - acceptedEvents.length\n);\n\n\n// ===============================\n// 9. EMAIL HTML BUILDERS\n// ===============================\n\nconst acceptedHtml = acceptedEvents.length\n  ? \"<ul>\" + acceptedEvents.map(e =>\n      `<li><strong>${e.eventName}</strong> (${e.eventDate})</li>`\n    ).join(\"\") + \"</ul>\"\n  : \"No events were accepted.\";\n\nconst rejectedHtml = rejectedEvents.length\n  ? \"<ul>\" + rejectedEvents.map(e =>\n      `<li><strong>${e.eventName}</strong> - ${e.reason}</li>`\n    ).join(\"\") + \"</ul>\"\n  : \"No events were rejected.\";\n\n\n//\n// ===============================\n// 10. FINAL OUTPUT (n8n FORMAT)\n// ===============================\n//\n\nreturn [\n  {\n    json: {\n      SponsorName: sponsorData[\"Sponsor Name\"],\n      AcceptedEvents: acceptedEvents,\n      RejectedEvents: rejectedEvents,\n      AcceptedHtml: acceptedHtml,\n      RejectedHtml: rejectedHtml,\n      RequestedEvents: requestedEventNames,\n      ExistingEvents: existingEventIds,\n      CreditsUsed: acceptedEvents.length,\n      NewCredit: remainingCredit\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,1024],"id":"1485a972-49de-4d82-97e6-e27386d34d64","name":"Event Reconciliation","executeOnce":true},{"parameters":{"jsCode":"const sponsors = $items(\"Sponsor List\");\n\nconst output = [];\n\nfor (const sponsorItem of sponsors) {\n  const sponsor = sponsorItem.json;\n\n  const hasUnusedCredit = Number(sponsor[\"Unused Credit\"]) > 0;\n\n  if (hasUnusedCredit) {\n    output.push(sponsorItem);\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-64],"id":"c979840a-e3c3-44a1-aef9-b46387021756","name":"Get sponsors with unused credit","executeOnce":true},{"parameters":{"jsCode":"const sponsors = $items(\"Get sponsors with unused credit\").map(item => item.json);\n\nconst reminderInterval = Number($('Event Config').first().json.sponsor_reminderDaysInterval);\n\nconst today = new Date(\"2026-05-20\");\ntoday.setHours(0,0,0,0);\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst output = [];\n\nfor (const sponsorItem of sponsors) {\n  \n  const dateAdded = normalizeDate(sponsorItem[\"Date Added\"]);\n  const daysDiff = Math.floor((today - dateAdded) / 86400000);\n\n  const intervalCheck = daysDiff % reminderInterval === 0;\n\n  if (intervalCheck) {\n    output.push(sponsorItem);\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-64],"id":"999a6089-9ccd-4cb5-b8cc-50ac1e40fb8f","name":"Get sponsors up for reminder","executeOnce":true},{"parameters":{"jsCode":"const events = $items(\"Events with open slots\");\n\n// Use dynamic today date (recommended)\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst output = [];\n\nfor (const item of events) {\n  const event = item.json;\n\n  const eventDate = normalizeDate(event.eventDate);\n\n  if (eventDate > today) {\n    output.push(item);\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,144],"id":"ec02cbf1-e9e4-4f20-8a5a-9136391dab8b","name":"Available future events","executeOnce":true},{"parameters":{"jsCode":"const events = $items(\"Events with open slots1\");\n\n// Use dynamic today date (recommended)\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst output = [];\n\nfor (const item of events) {\n  const event = item.json;\n\n  const eventDate = normalizeDate(event.eventDate);\n\n  if (eventDate > today) {\n    output.push(item);\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,848],"id":"2b2f7dd2-3cec-4b3a-9d5f-be9544b9f605","name":"Available future events1","executeOnce":true},{"parameters":{"availableInChat":true,"agentName":"Sponsorship Agent","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-560,1344],"id":"602f15a4-8cd9-432e-8a77-1ad7a2326acd","name":"When chat message received","webhookId":"08f817cb-5734-4604-b947-54a9ddb96e0d"},{"parameters":{"options":{"systemMessage":"You are an assistant for a sponsorship platform. \nWhenever the user asks about events, future events, or available sponsorship slots, \nALWAYS call the available tools to retrieve live data. \nNever guess or use general knowledge for event availability."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-240,1344],"id":"2b288a3f-55ac-4e23-a28f-f36a4faa15be","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-400,1552],"id":"487085c9-7660-4034-88ca-37e8b8a4dc6a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g1kBFPjyXxIh9CHj","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-240,1552],"id":"66402bf0-7564-4289-8b71-b0f9627a409f","name":"Simple Memory"},{"parameters":{"description":"This tool returns all future events and their available sponsorship slots. \nIt must be used whenever the user asks about events, event dates, or available sponsorships.\nInput: none (AI Agent can send parameters if needed)\nOutput: JSON array of events with fields: eventId, eventName, eventDate, availableSlots","workflowId":{"__rl":true,"value":"MaVJsVVwlXe5bxp0","mode":"list","cachedResultUrl":"/workflow/MaVJsVVwlXe5bxp0","cachedResultName":"Get Available Event"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-96,1552],"id":"0dfb3db9-3bde-4483-bb31-424717609f68","name":"Call n8n Workflow Tool"},{"parameters":{"content":"### AI Assistant for Potential sponsors","height":432,"width":816,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-608,1264],"typeVersion":1,"id":"fcc14833-71ad-4c09-b9e5-d4eefaaea285","name":"Sticky Note2"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"dxmsztlhJJWXoRVU","mode":"list","cachedResultName":"Event Config","cachedResultUrl":"/projects/GVYAET5lnJodl2nL/datatables/dxmsztlhJJWXoRVU"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-416,-64],"id":"8278bcc9-261c-4321-bb40-556dd1fbc50f","name":"Event Config","executeOnce":true},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"dxmsztlhJJWXoRVU","mode":"list","cachedResultName":"Event Config","cachedResultUrl":"/projects/GVYAET5lnJodl2nL/datatables/dxmsztlhJJWXoRVU"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-416,640],"id":"6b5d560d-dacd-467a-a3b0-a76a8c1f1204","name":"Event Config1","executeOnce":true},{"parameters":{"sendTo":"rzvpineda@gmail.com","subject":"Event Reconciliation","message":"=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Downtown Nashville Trade Hub - Sponsorship Update</title>\n</head>\n\n<body style=\"margin:0; padding:0; background-color:#f3f4f6; font-family:'Helvetica Neue', Arial, sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f3f4f6\">\n<tr>\n<td align=\"center\">\n\n<table width=\"650\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" style=\"margin:30px auto; border-radius:12px; overflow:hidden; box-shadow:0 10px 30px rgba(0,0,0,0.08);\">\n\n<!-- Header -->\n<tr>\n<td align=\"center\" bgcolor=\"#000\" style=\"padding:40px 20px;\">\n<img src=\"https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/XduwfY9aht881YbdPZu1/media/6943ac819a634fe3a7d20dc3.png\" alt=\"Trusted Trade Hub Logo\" style=\"max-width:180px; margin-bottom:20px;\">\n<h1 style=\"color:#ffffff; margin:0; font-size:26px; letter-spacing:1px;\">\nDowntown Nashville Trade Hub\n</h1>\n<p style=\"color:#d1d5db; margin-top:10px; font-size:14px;\">\nSponsorship Reconciliation Summary\n</p>\n</td>\n</tr>\n\n<!-- Body -->\n<tr>\n<td style=\"padding:50px 40px; color:#1f2937; font-size:16px; line-height:1.7;\">\n\n<h2 style=\"margin-top:0; font-size:22px; font-weight:600;\">\nHello,\n</h2>\n\n<p>\nThank you for selecting the events you would like to sponsor.\nBelow is the official confirmation and reconciliation of your recent request.\n</p>\n\n<!-- Credit Summary Box -->\n<div style=\"background:#f9fafb; border-left:4px solid #EA580C; padding:18px 22px; margin:30px 0;\">\n<strong>Credits Used:</strong> {{$json.CreditsUsed}}<br>\n<strong>Remaining Sponsorship Credits:</strong> {{$json.NewCredit}}\n</div>\n\n<!-- Accepted Events -->\n<h3 style=\"color:#16a34a; margin-bottom:10px; font-size:18px; font-weight:600;\">\nConfirmed Sponsorship Placements\n</h3>\n\n<div style=\"margin-bottom:30px; font-size:15px;\">\n<ul style=\"padding-left:20px; margin:0;\">\n  {{$json.AcceptedHtml}}\n</ul>\n</div>\n\n<!-- Rejected Events -->\n<h3 style=\"color:#b91c1c; margin-bottom:10px; font-size:18px; font-weight:600;\">\nEvents Not Confirmed\n</h3>\n\n<div style=\"margin-bottom:20px; font-size:15px;\">\n<ul style=\"padding-left:20px; margin:0;\">\n  {{$json.RejectedHtml}}\n</ul>\n</div>\n\n<p style=\"font-size:14px; color:#6b7280;\">\nIf any event was not confirmed due to availability, past date, or credit limitations,\nyou may submit another selection or contact us for assistance.\n</p>\n\n<!-- CTA -->\n<div style=\"text-align:center; margin:45px 0;\">\n<p style=\"font-size:18px; margin-bottom:20px;\">\nWould you like to secure another event?\n</p>\n\n<a href=\"https://api.leadconnectorhq.com/widget/form/l9mkgGg9qpuC98PbKCEG\"\nstyle=\"background:#EA580C; color:#ffffff; padding:16px 36px; text-decoration:none; font-size:16px; font-weight:600; border-radius:6px; display:inline-block;\">\nSelect Another Event\n</a>\n</div>\n\n<p style=\"font-size:14px; color:#6b7280;\">\nOur team confirms sponsorship placements on a first-come, first-served basis.\n</p>\n\n</td>\n</tr>\n\n<!-- Social -->\n<tr>\n<td align=\"center\" style=\"padding:30px 20px; border-top:1px solid #e5e7eb;\">\n<p style=\"font-size:14px; color:#6b7280; margin-bottom:15px;\">\nStay Connected\n</p>\n\n<a href=\"YOUR_FACEBOOK_LINK\" style=\"margin:0 10px;\">\n<img src=\"https://cdn-icons-png.flaticon.com/512/733/733547.png\" width=\"24\">\n</a>\n\n<a href=\"YOUR_INSTAGRAM_LINK\" style=\"margin:0 10px;\">\n<img src=\"https://cdn-icons-png.flaticon.com/512/733/733558.png\" width=\"24\">\n</a>\n\n<a href=\"YOUR_LINKEDIN_LINK\" style=\"margin:0 10px;\">\n<img src=\"https://cdn-icons-png.flaticon.com/512/733/733561.png\" width=\"24\">\n</a>\n\n</td>\n</tr>\n\n<!-- Footer -->\n<tr>\n<td bgcolor=\"#EA580C\" style=\"padding:35px 30px; color:#ffffff; font-size:13px; line-height:1.6;\">\n\n<strong>Downtown Nashville Trade Hub</strong><br>\nOperated by PivotNest Labs Inc.<br><br>\n\nEmail: contact@pivotnestlabs.com<br>\nPhone: +1 (615) 808-7123<br>\n1238 Rugby Dr, Nashville, TN 37207<br><br>\n\n© 2026 Trusted Trade Hub. All rights reserved.\n\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[480,1024],"id":"3e960454-cf6c-4e70-9015-c20ec85ba0db","name":"Send a message","webhookId":"80ba5869-6eb8-43b9-afde-14cc42266970","credentials":{"gmailOAuth2":{"id":"Vqp0jdsjrzx36fkS","name":"Software Email"}}},{"parameters":{"jsCode":"// 1. Get all events\nconst events = $items(\"Event Calendar1\").map(item => item.json);\n\n// 2. Get all sponsors\nconst sponsors = $items(\"Sponsor List1\").map(item => item.json);\n\nfunction normalize(str) {\n  return (str || \"\").toString().trim().toLowerCase();\n}\n\nfunction strToArray(str) {\n  return (str || \"\").split(\",\").map(normalize).filter(e => e.length > 0);\n}\n\nfunction normalizeDate(d) {\n  const date = new Date(d);\n  date.setHours(0,0,0,0);\n  return date;\n}\n\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\n// 3. Calculate sponsor counts for all events\nconst eventCounts = {};\nfor (const e of events) {\n  const eventId = normalize(e[\"Event ID\"]);\n  eventCounts[eventId] = 0;\n  for (const s of sponsors) {\n    const sEvents = strToArray(s[\"Event Participating In\"]);\n    if (sEvents.includes(eventId)) eventCounts[eventId]++;\n  }\n}\n\n// 4. Get sponsor info from webhook\nconst existingEventIds = strToArray(\n  $('Get Sponsor by Email').first().json['Event Participating In']\n);\n\nconst newEventNames = strToArray(\n  $('Webhook').first().json.body.Event\n);\n\n// 5. Map new event names to IDs\nconst newEventIdMap = newEventNames.map(newEvent => {\n  const match = events.find(ev =>\n    normalize(ev[\"Event Name\"]) === normalize(newEvent)\n  );\n\n  if (match) {\n    return {\n      eventId: normalize(match[\"Event ID\"]),\n      eventName: match[\"Event Name\"],\n      eventDate: match[\"Event Date\"],\n      sponsorCount: eventCounts[normalize(match[\"Event ID\"])]\n    };\n  }\n\n  return null;\n}).filter(e => e !== null);\n\n// 6. Reconcile\nconst acceptedEvents = [];\nconst removedAlreadyRegistered = [];\nconst removedFull = [];\nconst removedPastEvent = [];\n\nconst maxSlot = Number($('Event Config1').first().json.sponsor_maxSponsorPerEvent);\n\nfor (const e of newEventIdMap) {\n\n  const eventDate = normalizeDate(e.eventDate);\n\n  // 🔴 Past event check (FIRST priority)\n  if (eventDate < today) {\n    removedPastEvent.push(e);\n\n  } else if (existingEventIds.includes(e.eventId)) {\n    removedAlreadyRegistered.push(e);\n\n  } else if (e.sponsorCount >= maxSlot) {\n    removedFull.push(e);\n\n  } else {\n    acceptedEvents.push(e);\n  }\n}\n\n// Remove Excess Event Base on Available Credit\nconst RemovedInsufficientCredit = [];\n\nconst unusedCredit = $('Get Sponsor by Email').first().json['Unused Credit'];\nconst creditLimit = Number(unusedCredit) || 0;\n\n// New Credit \nconst remainingCredit = Math.max(\n  0,\n  Number(unusedCredit) - acceptedEvents.length\n);\n\nif (acceptedEvents.length > creditLimit) {\n\n  // Keep only up to credit limit\n  const allowedEvents = acceptedEvents.slice(0, creditLimit);\n\n  // Everything beyond credit limit is rejected\n  const excessEvents = acceptedEvents.slice(creditLimit);\n\n  for (const e of excessEvents) {\n    RemovedInsufficientCredit.push(e);\n  }\n\n  // Replace acceptedEvents with limited list\n  acceptedEvents.length = 0;\n  acceptedEvents.push(...allowedEvents);\n}\n\n// 7. Output\nreturn {\n  AcceptedEvents: acceptedEvents,\n  RemovedAlreadyRegistered: removedAlreadyRegistered,\n  RemovedFull: removedFull,\n  RemovedPastEvent: removedPastEvent,\n  ExistingEvents: existingEventIds,\n  RequestedEvents: newEventNames,\n  NewCredit: remainingCredit,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,1056],"id":"c3f73658-da65-445e-bb54-aa5e74c86faf","name":"Event Reconciliation1","executeOnce":true},{"parameters":{"sendTo":"rzvpineda@gmail.com","subject":"Recommended Events","message":"=<!doctype html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Downtown Nashville Trade Hub - Recommended Events</title>\n</head>\n\n<body style=\"margin:0; padding:0; background-color:#f3f4f6; font-family:'Helvetica Neue', Arial, sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f3f4f6\">\n<tr>\n<td align=\"center\">\n\n<table width=\"650\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" style=\"margin:30px auto; border-radius:12px; overflow:hidden; box-shadow:0 10px 30px rgba(0,0,0,0.08);\">\n\n<!-- Header -->\n<tr>\n<td align=\"center\" bgcolor=\"#000\" style=\"padding:40px 20px;\">\n<img src=\"https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/XduwfY9aht881YbdPZu1/media/6943ac819a634fe3a7d20dc3.png\" alt=\"Trusted Trade Hub Logo\" style=\"max-width:180px; margin-bottom:20px;\">\n<h1 style=\"color:#ffffff; margin:0; font-size:26px; letter-spacing:1px;\">\nDowntown Nashville Trade Hub\n</h1>\n<p style=\"color:#d1d5db; margin-top:10px; font-size:14px;\">\nPersonalized Sponsorship Recommendations\n</p>\n</td>\n</tr>\n\n<!-- Body -->\n<tr>\n<td style=\"padding:50px 40px; color:#1f2937; font-size:16px; line-height:1.7;\">\n\n<h2 style=\"margin-top:0; font-size:22px; font-weight:600;\">\nHello {{$json.sponsorName}},\n</h2>\n\n<p>\nWe’ve curated a list of upcoming events that may be a strong fit for your brand.\nSecure your sponsorship placement early as availability is limited.\n</p>\n\n<h3 style=\"color:#111827; margin-top:35px; margin-bottom:10px; font-size:18px; font-weight:600;\">\nRecommended Events\n</h3>\n\n<div style=\"margin-bottom:30px; font-size:15px;\">\n<ul style=\"padding-left:20px; margin:0;\">\n  {{\n    $json.recommendedEvents\n      .map(event => `<li><strong>${event}</strong></li>`)\n      .join('')\n  }}\n</ul>\n</div>\n\n<p style=\"font-size:14px; color:#6b7280;\">\nPlacements are confirmed on a first-come, first-served basis.\n</p>\n\n<!-- CTA -->\n<div style=\"text-align:center; margin:45px 0;\">\n<p style=\"font-size:18px; margin-bottom:20px;\">\nReady to secure your next event?\n</p>\n\n<a href=\"https://api.leadconnectorhq.com/widget/form/l9mkgGg9qpuC98PbKCEG\"\nstyle=\"background:#EA580C; color:#ffffff; padding:16px 36px; text-decoration:none; font-size:16px; font-weight:600; border-radius:6px; display:inline-block;\">\nSecure My Sponsorship\n</a>\n</div>\n\n<p style=\"font-size:14px; color:#6b7280;\">\nIf you need assistance choosing the right event, simply reply to this email and our team will help.\n</p>\n\n</td>\n</tr>\n\n<!-- Footer -->\n<tr>\n<td bgcolor=\"#EA580C\" style=\"padding:35px 30px; color:#ffffff; font-size:13px; line-height:1.6;\">\n\n<strong>Downtown Nashville Trade Hub</strong><br>\nOperated by PivotNest Labs Inc.<br><br>\n\nEmail: contact@pivotnestlabs.com<br>\nPhone: +1 (615) 808-7123<br>\n1238 Rugby Dr, Nashville, TN 37207<br><br>\n\n© 2026 Trusted Trade Hub. All rights reserved.\n\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[512,368],"id":"af0a7051-faa0-4f9f-b2be-644679c6a244","name":"Send a message1","webhookId":"80ba5869-6eb8-43b9-afde-14cc42266970","credentials":{"gmailOAuth2":{"id":"Vqp0jdsjrzx36fkS","name":"Software Email"}}}],"connections":{"Daily Trigger":{"main":[[{"node":"Event Config","type":"main","index":0}]]},"Create Recommended Events":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Event Config1","type":"main","index":0}]]},"Sponsor List":{"main":[[{"node":"Get sponsors with unused credit","type":"main","index":0}]]},"Event Calendar":{"main":[[{"node":"Event Slot Representation","type":"main","index":0},{"node":"Events with open slots","type":"main","index":0}]]},"Get Sponsor by Email":{"main":[[{"node":"Event Calendar1","type":"main","index":0}]]},"Event Calendar1":{"main":[[{"node":"Sponsor List1","type":"main","index":0}]]},"Events with open slots":{"main":[[{"node":"Available future events","type":"main","index":0}]]},"Sponsor List1":{"main":[[{"node":"Events with open slots1","type":"main","index":0}]]},"Events with open slots1":{"main":[[{"node":"Available future events1","type":"main","index":0}]]},"Event Reconciliation":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get sponsors with unused credit":{"main":[[{"node":"Get sponsors up for reminder","type":"main","index":0}]]},"Get sponsors up for reminder":{"main":[[{"node":"Event Calendar","type":"main","index":0}]]},"Available future events":{"main":[[{"node":"Create Recommended Events","type":"main","index":0}]]},"Available future events1":{"main":[[{"node":"Event Reconciliation","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Event Config":{"main":[[{"node":"Sponsor List","type":"main","index":0}]]},"Event Config1":{"main":[[{"node":"Get Sponsor by Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Event Slot Representation":[{"json":{"eventId":"EVT-001","eventName":"Trade Hub Seminar","eventDate":"2024-05-20","sponsorCount":3},"pairedItem":{"item":0}},{"json":{"eventId":"EVT-002","eventName":"Medieval Workshop","eventDate":"2026-05-01","sponsorCount":1},"pairedItem":{"item":1}},{"json":{"eventId":"EVT-003","eventName":"Summer Gala","eventDate":"2026-05-02","sponsorCount":1},"pairedItem":{"item":2}},{"json":{"eventId":"EVT-004","eventName":"Expo 2024","eventDate":"2026-05-03","sponsorCount":1},"pairedItem":{"item":3}},{"json":{"eventId":"EVT-005","eventName":"Startup Pitch Night","eventDate":"2026-03-10","sponsorCount":0},"pairedItem":{"item":4}},{"json":{"eventId":"EVT-006","eventName":"Winter Gala 2025","eventDate":"2025-12-01","sponsorCount":0},"pairedItem":{"item":5}},{"json":{"eventId":"EVT-007","eventName":"Executive Leadership Retreat","eventDate":"2026-04-22","sponsorCount":0},"pairedItem":{"item":6}},{"json":{"eventId":"EVT-008","eventName":"AI Ethics Roundtable","eventDate":"2026-05-05","sponsorCount":0},"pairedItem":{"item":7}},{"json":{"eventId":"EVT-009","eventName":"Global Marketing Expo","eventDate":"2024-09-15","sponsorCount":0},"pairedItem":{"item":8}},{"json":{"eventId":"EVT-010","eventName":"SaaS Growth Webinar","eventDate":"2026-06-12","sponsorCount":0},"pairedItem":{"item":9}},{"json":{"eventId":"EVT-011","eventName":"Sustainable Tech Forum","eventDate":"2026-07-19","sponsorCount":1},"pairedItem":{"item":10}},{"json":{"eventId":"EVT-012","eventName":"Annual Charity Golf","eventDate":"2025-05-20","sponsorCount":0},"pairedItem":{"item":11}},{"json":{"eventId":"EVT-013","eventName":"Product Design Workshop","eventDate":"2026-08-01","sponsorCount":1},"pairedItem":{"item":12}},{"json":{"eventId":"EVT-014","eventName":"Venture Capital Mixer","eventDate":"2026-09-14","sponsorCount":3},"pairedItem":{"item":13}}],"Event Config":[{"json":{"sponsor_maxSponsorPerEvent":3,"sponsor_reminderDaysInterval":5,"id":1,"createdAt":"2026-02-26T14:55:40.216Z","updatedAt":"2026-02-26T15:08:18.182Z"},"pairedItem":{"item":0}}],"Sponsor List":[{"json":{"row_number":2,"Full Name":"John Doe","Email Address":"john@example.com","Event Participating In":"EVT-001","Date Added":"2026-05-10","GHL Contact ID":"123abc456","Unused Credit":1},"pairedItem":{"item":0}},{"json":{"row_number":3,"Full Name":"Jane Smith","Email Address":"jane@trusted.com","Event Participating In":"EVT-001,EVT-004","Date Added":"2026-05-12","GHL Contact ID":"789def012","Unused Credit":2},"pairedItem":{"item":0}},{"json":{"row_number":4,"Full Name":"Bob Knight","Email Address":"bob@quest.com","Event Participating In":"EVT-001,EVT-002,EVT-011,EVT-003","Date Added":"2026-05-15","GHL Contact ID":"345ghi678","Unused Credit":4},"pairedItem":{"item":0}},{"json":{"row_number":5,"Full Name":"Alice Moon","Email Address":"alice@moon.com","Event Participating In":"EVT-013","Date Added":"2026-05-13","GHL Contact ID":"123abc457","Unused Credit":5.33333333333333},"pairedItem":{"item":0}},{"json":{"row_number":6,"Full Name":"Charlie Ray","Email Address":"charlie@ray.com","Event Participating In":"EVT-014","Date Added":"2026-05-14","GHL Contact ID":"789def013","Unused Credit":6.83333333333333},"pairedItem":{"item":0}},{"json":{"row_number":7,"Full Name":"Daniel Lee","Email Address":"daniel@lee.com","Event Participating In":"EVT-014","Date Added":"2026-05-11","GHL Contact ID":"345ghi679","Unused Credit":8.33333333333333},"pairedItem":{"item":0}},{"json":{"row_number":8,"Full Name":"Emma Stone","Email Address":"emma@stone.com","Event Participating In":"EVT-014","Date Added":"2026-05-12","GHL Contact ID":"123abc458","Unused Credit":9.83333333333333},"pairedItem":{"item":0}}],"Get sponsors with unused credit":[{"json":{"row_number":2,"Full Name":"John Doe","Email Address":"john@example.com","Event Participating In":"EVT-001","Date Added":"2026-05-10","GHL Contact ID":"123abc456","Unused Credit":1},"pairedItem":{"item":0}},{"json":{"row_number":3,"Full Name":"Jane Smith","Email Address":"jane@trusted.com","Event Participating In":"EVT-001,EVT-004","Date Added":"2026-05-12","GHL Contact ID":"789def012","Unused Credit":2},"pairedItem":{"item":0}},{"json":{"row_number":4,"Full Name":"Bob Knight","Email Address":"bob@quest.com","Event Participating In":"EVT-001,EVT-002,EVT-011,EVT-003","Date Added":"2026-05-15","GHL Contact ID":"345ghi678","Unused Credit":4},"pairedItem":{"item":0}},{"json":{"row_number":5,"Full Name":"Alice Moon","Email Address":"alice@moon.com","Event Participating In":"EVT-013","Date Added":"2026-05-13","GHL Contact ID":"123abc457","Unused Credit":5.33333333333333},"pairedItem":{"item":0}},{"json":{"row_number":6,"Full Name":"Charlie Ray","Email Address":"charlie@ray.com","Event Participating In":"EVT-014","Date Added":"2026-05-14","GHL Contact ID":"789def013","Unused Credit":6.83333333333333},"pairedItem":{"item":0}},{"json":{"row_number":7,"Full Name":"Daniel Lee","Email Address":"daniel@lee.com","Event Participating In":"EVT-014","Date Added":"2026-05-11","GHL Contact ID":"345ghi679","Unused Credit":8.33333333333333},"pairedItem":{"item":0}},{"json":{"row_number":8,"Full Name":"Emma Stone","Email Address":"emma@stone.com","Event Participating In":"EVT-014","Date Added":"2026-05-12","GHL Contact ID":"123abc458","Unused Credit":9.83333333333333},"pairedItem":{"item":0}}],"Get sponsors up for reminder":[{"json":{"row_number":2,"Full Name":"John Doe","Email Address":"john@example.com","Event Participating In":"EVT-001","Date Added":"2026-05-10","GHL Contact ID":"123abc456","Unused Credit":1}},{"json":{"row_number":4,"Full Name":"Bob Knight","Email Address":"bob@quest.com","Event Participating In":"EVT-001,EVT-002,EVT-011,EVT-003","Date Added":"2026-05-15","GHL Contact ID":"345ghi678","Unused Credit":4}}],"Event Calendar":[{"json":{"row_number":2,"Event ID":"EVT-001","Event Name":"Trade Hub Seminar","Event Date":"2024-05-20","Description":"Strategic networking..."},"pairedItem":{"item":0}},{"json":{"row_number":3,"Event ID":"EVT-002","Event Name":"Medieval Workshop","Event Date":"2026-05-01","Description":"Skill building for knights..."},"pairedItem":{"item":0}},{"json":{"row_number":4,"Event ID":"EVT-003","Event Name":"Summer Gala","Event Date":"2026-05-02","Description":"Annual celebration..."},"pairedItem":{"item":0}},{"json":{"row_number":5,"Event ID":"EVT-004","Event Name":"Expo 2024","Event Date":"2026-05-03","Description":"Trade show display..."},"pairedItem":{"item":0}},{"json":{"row_number":6,"Event ID":"EVT-005","Event Name":"Startup Pitch Night","Event Date":"2026-03-10","Description":"Future: Early-stage founders."},"pairedItem":{"item":0}},{"json":{"row_number":7,"Event ID":"EVT-006","Event Name":"Winter Gala 2025","Event Date":"2025-12-01","Description":"Past: Should be filtered out."},"pairedItem":{"item":0}},{"json":{"row_number":8,"Event ID":"EVT-007","Event Name":"Executive Leadership Retreat","Event Date":"2026-04-22","Description":"Future: High-level strategy."},"pairedItem":{"item":0}},{"json":{"row_number":9,"Event ID":"EVT-008","Event Name":"AI Ethics Roundtable","Event Date":"2026-05-05","Description":"Future: Responsible AI dev."},"pairedItem":{"item":0}},{"json":{"row_number":10,"Event ID":"EVT-009","Event Name":"Global Marketing Expo","Event Date":"2024-09-15","Description":"Past: Should be filtered out."},"pairedItem":{"item":0}},{"json":{"row_number":11,"Event ID":"EVT-010","Event Name":"SaaS Growth Webinar","Event Date":"2026-06-12","Description":"Future: Scaling software."},"pairedItem":{"item":0}},{"json":{"row_number":12,"Event ID":"EVT-011","Event Name":"Sustainable Tech Forum","Event Date":"2026-07-19","Description":"Future: Green energy."},"pairedItem":{"item":0}},{"json":{"row_number":13,"Event ID":"EVT-012","Event Name":"Annual Charity Golf","Event Date":"2025-05-20","Description":"Past: Should be filtered out."},"pairedItem":{"item":0}},{"json":{"row_number":14,"Event ID":"EVT-013","Event Name":"Product Design Workshop","Event Date":"2026-08-01","Description":"Future: UX/UI intensive."},"pairedItem":{"item":0}},{"json":{"row_number":15,"Event ID":"EVT-014","Event Name":"Venture Capital Mixer","Event Date":"2026-09-14","Description":"Future: Mixer for startups."},"pairedItem":{"item":0}}],"Events with open slots":[{"json":{"eventId":"EVT-002","eventName":"Medieval Workshop","eventDate":"2026-05-01","sponsorCount":1}},{"json":{"eventId":"EVT-003","eventName":"Summer Gala","eventDate":"2026-05-02","sponsorCount":1}},{"json":{"eventId":"EVT-004","eventName":"Expo 2024","eventDate":"2026-05-03","sponsorCount":1}},{"json":{"eventId":"EVT-005","eventName":"Startup Pitch Night","eventDate":"2026-03-10","sponsorCount":0}},{"json":{"eventId":"EVT-006","eventName":"Winter Gala 2025","eventDate":"2025-12-01","sponsorCount":0}},{"json":{"eventId":"EVT-007","eventName":"Executive Leadership Retreat","eventDate":"2026-04-22","sponsorCount":0}},{"json":{"eventId":"EVT-008","eventName":"AI Ethics Roundtable","eventDate":"2026-05-05","sponsorCount":0}},{"json":{"eventId":"EVT-009","eventName":"Global Marketing Expo","eventDate":"2024-09-15","sponsorCount":0}},{"json":{"eventId":"EVT-010","eventName":"SaaS Growth Webinar","eventDate":"2026-06-12","sponsorCount":0}},{"json":{"eventId":"EVT-011","eventName":"Sustainable Tech Forum","eventDate":"2026-07-19","sponsorCount":1}},{"json":{"eventId":"EVT-012","eventName":"Annual Charity Golf","eventDate":"2025-05-20","sponsorCount":0}},{"json":{"eventId":"EVT-013","eventName":"Product Design Workshop","eventDate":"2026-08-01","sponsorCount":1}}],"Available future events":[{"json":{"eventId":"EVT-002","eventName":"Medieval Workshop","eventDate":"2026-05-01","sponsorCount":1}},{"json":{"eventId":"EVT-003","eventName":"Summer Gala","eventDate":"2026-05-02","sponsorCount":1}},{"json":{"eventId":"EVT-004","eventName":"Expo 2024","eventDate":"2026-05-03","sponsorCount":1}},{"json":{"eventId":"EVT-005","eventName":"Startup Pitch Night","eventDate":"2026-03-10","sponsorCount":0}},{"json":{"eventId":"EVT-007","eventName":"Executive Leadership Retreat","eventDate":"2026-04-22","sponsorCount":0}},{"json":{"eventId":"EVT-008","eventName":"AI Ethics Roundtable","eventDate":"2026-05-05","sponsorCount":0}},{"json":{"eventId":"EVT-010","eventName":"SaaS Growth Webinar","eventDate":"2026-06-12","sponsorCount":0}},{"json":{"eventId":"EVT-011","eventName":"Sustainable Tech Forum","eventDate":"2026-07-19","sponsorCount":1}},{"json":{"eventId":"EVT-013","eventName":"Product Design Workshop","eventDate":"2026-08-01","sponsorCount":1}}],"Create Recommended Events":[{"json":{"sponsorName":"John Doe","sponsorEmail":"john@example.com","recommendedEvents":["Medieval Workshop","Summer Gala","Expo 2024","Startup Pitch Night","Executive Leadership Retreat","AI Ethics Roundtable","SaaS Growth Webinar","Sustainable Tech Forum","Product Design Workshop"]}},{"json":{"sponsorName":"Bob Knight","sponsorEmail":"bob@quest.com","recommendedEvents":["Expo 2024","Startup Pitch Night","Executive Leadership Retreat","AI Ethics Roundtable","SaaS Growth Webinar","Product Design Workshop"]}}],"Webhook":[{"json":{"headers":{"host":"pivotnestlabs.app.n8n.cloud","user-agent":"PostmanRuntime/7.51.1","content-length":"135","accept":"*/*","accept-encoding":"gzip, br","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2001:4450:810d:e00:b91e:941d:29d3:da2b","cf-ew-via":"15","cf-ipcountry":"PH","cf-ray":"9d406f2599c644b5-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","postman-token":"94975529-69fb-4c97-a9e7-6e78180de0ae","x-forwarded-for":"2001:4450:810d:e00:b91e:941d:29d3:da2b, 108.162.227.3","x-forwarded-host":"pivotnestlabs.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-96-799649ff4f-qfh4m","x-is-trusted":"yes","x-real-ip":"2001:4450:810d:e00:b91e:941d:29d3:da2b"},"params":{},"query":{},"body":{"Event":"Trade Hub Seminar,Product Design Workshop,Venture Capital Mixer,Annual Charity Golf","email":"bob@quest.com"},"webhookUrl":"https://pivotnestlabs.app.n8n.cloud/webhook-test/5cc38b9a-9942-459e-88bf-f2eedaf4eb01","executionMode":"test"},"pairedItem":{"item":0}}],"Event Reconciliation":[{"json":{"AcceptedEvents":[{"eventId":"evt-013","eventName":"Product Design Workshop","eventDate":"2026-08-01","sponsorCount":1}],"RejectedEvents":[{"eventId":"evt-001","eventName":"Trade Hub Seminar","eventDate":"2024-05-20","sponsorCount":3,"reason":"Event date has already passed"},{"eventId":"evt-014","eventName":"Venture Capital Mixer","eventDate":"2026-09-14","sponsorCount":3,"reason":"Event is already full"},{"eventId":"evt-012","eventName":"Annual Charity Golf","eventDate":"2025-05-20","sponsorCount":0,"reason":"Event date has already passed"}],"AcceptedHtml":"<ul><li><strong>Product Design Workshop</strong> (2026-08-01)</li></ul>","RejectedHtml":"<ul><li><strong>Trade Hub Seminar</strong> - Event date has already passed</li><li><strong>Venture Capital Mixer</strong> - Event is already full</li><li><strong>Annual Charity Golf</strong> - Event date has already passed</li></ul>","RequestedEvents":["trade hub seminar","product design workshop","venture capital mixer","annual charity golf"],"ExistingEvents":["evt-001","evt-002","evt-011","evt-003"],"CreditsUsed":1,"NewCredit":3}}]},"versionId":"5b5ed754-b5ab-4f7a-acdd-3cc42d3740af","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-26T16:10:18.179Z","createdAt":"2026-02-26T16:10:18.179Z","role":"workflow:editor","workflowId":"_bEBNbcIPq9WioqurD79X","projectId":"5rrPb6MUsnfUZLvz"},{"updatedAt":"2026-02-23T11:47:52.284Z","createdAt":"2026-02-23T11:47:52.284Z","role":"workflow:owner","workflowId":"_bEBNbcIPq9WioqurD79X","projectId":"GVYAET5lnJodl2nL"},{"updatedAt":"2026-02-26T16:10:18.180Z","createdAt":"2026-02-26T16:10:18.180Z","role":"workflow:editor","workflowId":"_bEBNbcIPq9WioqurD79X","projectId":"eloIIz7ceQHHimYs"}],"activeVersion":null,"tags":[]}