sponsorship-ai-assistant-XVwx7Yy5T6JuvMx8c57M2.json
{"updatedAt":"2026-03-11T16:40:12.854Z","createdAt":"2026-02-27T02:25:35.734Z","id":"XVwx7Yy5T6JuvMx8c57M2","name":"Sponsorship AI Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"You are an assistant for a sponsorship platform. \nWhenever the user asks about events, future events, or available sponsorship slots, \nALWAYS call the available tools to retrieve live data. \nNever guess or use general knowledge for event availability."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,96],"id":"835329f4-b28c-4887-85ec-81501939cf76","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[128,304],"id":"a0bf75df-37af-4cde-add0-b491d8092526","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"g1kBFPjyXxIh9CHj","name":"OpenAi account"}}},{"parameters":{"description":"This tool returns all future events and their available sponsorship slots. \nIt must be used whenever the user asks about events, event dates, or available sponsorships.\nInput: none (AI Agent can send parameters if needed)\nOutput: JSON array of events with fields: eventId, eventName, eventDate, availableSlots","workflowId":{"__rl":true,"value":"MaVJsVVwlXe5bxp0","mode":"list","cachedResultUrl":"/workflow/MaVJsVVwlXe5bxp0","cachedResultName":"Get Available Event"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,304],"id":"2e26a90d-6f83-4eeb-8a2e-ee496b88fb1a","name":"Call n8n Workflow Tool1"},{"parameters":{"httpMethod":"POST","path":"030c8b69-d588-48de-91b1-993057e57458","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,112],"id":"f4615810-394d-4512-ac9e-e5bf9f93e41a","name":"Webhook1","webhookId":"030c8b69-d588-48de-91b1-993057e57458"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6334f484-7e91-401f-99d0-285c22b7eb02","leftValue":"={{ $json.body.type }}","rightValue":"lead","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,112],"id":"03f7db52-a6fa-4d63-9c5c-96b05ebd5a25","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": {{ JSON.stringify(Array.isArray($json.output) ? $json.output.map(o => o.output || '').join(\"\\n\").replace(/\\n/g, \"<br>\") : ($json.output || \"\").replace(/\\n/g, \"<br>\")) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[752,96],"id":"0f20002a-2610-4e62-baf5-3fb676b1298d","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.email + \"_chat\" }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[336,304],"id":"67f4f2d1-894f-4222-8856-b09262f93ce7","name":"Simple Memory1"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Call n8n Workflow Tool1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3ef4724a-5e50-424b-a76c-5c84a4fdc1e7","activeVersionId":"b87cad5a-3331-4a00-851d-d0c87c8ac7f5","triggerCount":1,"shared":[{"updatedAt":"2026-02-27T02:25:35.736Z","createdAt":"2026-02-27T02:25:35.736Z","role":"workflow:owner","workflowId":"XVwx7Yy5T6JuvMx8c57M2","projectId":"GVYAET5lnJodl2nL"}],"activeVersion":{"updatedAt":"2026-02-27T11:10:01.000Z","createdAt":"2026-02-27T03:26:06.910Z","versionId":"b87cad5a-3331-4a00-851d-d0c87c8ac7f5","workflowId":"XVwx7Yy5T6JuvMx8c57M2","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"You are an assistant for a sponsorship platform. \nWhenever the user asks about events, future events, or available sponsorship slots, \nALWAYS call the available tools to retrieve live data. \nNever guess or use general knowledge for event availability."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,96],"id":"835329f4-b28c-4887-85ec-81501939cf76","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,320],"id":"a0bf75df-37af-4cde-add0-b491d8092526","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"g1kBFPjyXxIh9CHj","name":"OpenAi account"}}},{"parameters":{"description":"This tool returns all future events and their available sponsorship slots. \nIt must be used whenever the user asks about events, event dates, or available sponsorships.\nInput: none (AI Agent can send parameters if needed)\nOutput: JSON array of events with fields: eventId, eventName, eventDate, availableSlots","workflowId":{"__rl":true,"value":"MaVJsVVwlXe5bxp0","mode":"list","cachedResultUrl":"/workflow/MaVJsVVwlXe5bxp0","cachedResultName":"Get Available Event"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,304],"id":"2e26a90d-6f83-4eeb-8a2e-ee496b88fb1a","name":"Call n8n Workflow Tool1"},{"parameters":{"httpMethod":"POST","path":"030c8b69-d588-48de-91b1-993057e57458","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,112],"id":"f4615810-394d-4512-ac9e-e5bf9f93e41a","name":"Webhook1","webhookId":"030c8b69-d588-48de-91b1-993057e57458"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6334f484-7e91-401f-99d0-285c22b7eb02","leftValue":"={{ $json.body.type }}","rightValue":"lead","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,112],"id":"03f7db52-a6fa-4d63-9c5c-96b05ebd5a25","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": {{ JSON.stringify(Array.isArray($json.output) ? $json.output.map(o => o.output || '').join(\"\\n\").replace(/\\n/g, \"<br>\") : ($json.output || \"\").replace(/\\n/g, \"<br>\")) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[752,96],"id":"0f20002a-2610-4e62-baf5-3fb676b1298d","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.email + \"_chat\" }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,304],"id":"67f4f2d1-894f-4222-8856-b09262f93ce7","name":"Simple Memory1"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Call n8n Workflow Tool1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]}},"authors":"Rickson Zoren Pineda","name":"Version b87cad5a","description":"","autosaved":true},"tags":[]}